* {
    padding: 0;
    margin: 0;
}

/*grid areas*/
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "sectionA sectionA sectionA sectionA"
    "sectionB sectionB sectionB sectionB"
    "footer footer footer footer";
 }

.header-container {
    grid-area: header;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
}

.header {
    width: auto;
    justify-content: space-around;
}

.img-logo {
    height: 150px;
}

.header-item-2 {
    justify-content: start;
    align-items: center;
}

.header-item-3 {
    justify-content: right;
    align-items: center;
}

.buscar {
    justify-content: end;
}

.sectionA {
    justify-content: center;
    grid-area: sectionA;
    border: 1px solid;
    text-align: center;
}

.sectionB {
    grid-area: sectionB;
    border: 1px solid;
}

.sectionB-photo {
    height: 200px;
}

footer {
    grid-area: footer;
    align-items: center;
    justify-content: space-around; 
    border: 1px solid;
}

@media screen and (max-width: 700px) {
    .sectionB {
        flex-direction: column;
    }
}


